# temporary files
*~
[#]*[#]
TAGS
.ant-targets-build.xml

# build artefacts
bin/
bin-test/
*.[do]
src-gen
src-gen-xsd

jGenerators/com.thalesgroup.softarc.gen/generateFormalism.log
jGenerators/com.thalesgroup.softarc.gen/formalism/attributes.properties

# ECOA projects artefacts
local.properties
04-Integration
inc-gen
src-gen
a.out

# Eclipse artefacts
.settings

